@model List<Compiler.Abstractions.Dto.Common.Tag.AbstractTagDto>
@{
    ViewData["Title"] = "Tags";
    Layout = null;

    int defId = Model.Count > 0 ? @Model[0].Id : 0;
}




<div class="row row-item" style="margin:40px 0 0 0;">


    <div class="col-md-3">
        @foreach (var item in Model)
        {
            <div class="tag-m-itm" data-attr-id="@item.Id" data-attr-name="@item.Name">
                @item.Name
            </div>
        }
    </div>


    <div class="col-md-9 sub-content">
    </div>

</div>





<script>

    $(document).ready(function () {

        loadTag(@defId); 

        $(".tag-m-itm").on("click", function () {
            loadTag($(this).attr("data-attr-id"));
        });


        function loadTag(value) {
            PreloaderOn(".sub-content");

            $.get('/tags/details/' + value, function (data) {

                window.location.hash = "tags";
                $(".sub-content").html(data);
                PreloaderOff();
            });
        }
    });

</script>
