@{
    ViewData["Title"] = "Management";
}



<div class="row">
    <div class="col-md-3">
        <h3>Google</h3>
        <ul>
            <li><a href="https://google.com/analytics" target="_blank">Analytics</a></li>
            <li><a href="https://google.com/webmasters" target="_blank">Webmasters</a></li>
            <li><a href="https://google.com/adwords" target="_blank">Adwords</a></li>
            <li><a href="https://console.cloud.google.com/apis/dashboard" target="_blank">Google APIs</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Servers/Hosting</h3>
        <ul>
            <li><a href="https://billing.virmach.com" target="_blank">Virmach</a></li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Tasks</h3>
        <ul>
            <li>Trello</li>
            <li>Jira</li>
            <li><a href="https://app.clubhouse.io/compilermedia/projects">ClubHouse</a></li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Other</h3>
        <ul>
            <li><a href="https://mail.zoho.com/zm/#mail/folder/inbox">Email</a></li>
            <li><a href="https://bitbucket.org/dashboard/overview">Bit Bucket</a></li>
            <li>-------</li>
            <li>-------</li>
        </ul>
    </div>
</div>
