@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}


<div class="row row-item">
    <div class="col-md-12">

        <div class="login-box">

            <div class="lgn-tittle">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" title="Playlist.Zone"><span>Playlist.Zone</span></a>
            </div>

            <form asp-controller="Account" asp-action="Login">
                
                @Html.AntiForgeryToken()

                <div class="lgn-cnt-itm">
                    Please enter your username and password
                </div>

                <div class="lgn-cnt-itm">
                    <input type="text" id="username" name="username" placeholder="Username" class="txt-usrname" />
                </div>

                <div class="lgn-cnt-itm">
                    <input type="password" id="password" name="password" placeholder="Password" class="txt-pass" />
                </div>

                <div class="lgn-cnt-itm vld-result">
                    @ViewData["LoginResult"]
                </div>

                <div class="lgn-cnt-itm">
                    <input type="submit" value="Login" class="btn-lng"  />
                </div>

                <div class="lgn-cnt-itm lbl-reg-now">
                    Not a member? <a href="/Account/Register">Join Now</a>
                </div>

            </form>

        </div>



    </div>
</div>