@{
    ViewData["Title"] = "Problem occured during registration.";
}


<div class="row row-item">
    <div class="col-md-12">


        <div style="float:left; width:100%;">
            <h2>Problem occured during registration. Please contact our support department.</h2>
        </div>



    </div>
</div>