@{
    ViewData["Title"] = "Thank you for registering with Playlist.Zone";
}


<div class="row row-item">
    <div class="col-md-12">


        <div style="float:left; width:100%; margin:20px 0 0 0;">
            <h2>@ViewData["Title"].<br/> 
            Please go to your email and click on confirmation link.</h2>
        </div>



    </div>
</div>