@model Compiler.Web.Playlist.Zone.Models.Account.StatsViewModel
@{
    ViewData["Title"] = "Account Info";
    Layout = null;
}


<div style="float:left; width:100%;">
    
    <div style="float:left; width:100%; background-color:#f2f2f2;">
        Playlists: @Model.playlists.Count
    </div>
</div>


<script>
    $(document).ready(function () {

    });
</script>





