
@{
    Layout = null;
}


<div id="AddNewPlaylistDlgBox">

    <div class="add-new-header">
        <div class="lfc">Add New Playlist</div>
        <div class="rfc" onclick="LightBoxOff();">X</div>
    </div>

    <div class="com-cont top-margin-10">
        <span>Playlist Name</span>
        <input id="AddNewPlstNameTxt" type="text" value="" />
    </div>

    <div class="com-cont top-margin-10">
        <input type="button" id="AddPlstCancelBtn" value="Cancel"  />
        <input type="button" id="AddPlstCompBtn" value="Add New Playlist" />
    </div>

</div>



<script>
    $(document).ready(function () {
        $("#AddNewPlaylistDlgBox").css("left", ($("#AddNewPlaylistBtn").offset().left+15) + "px");
        $("#AddNewPlaylistDlgBox").css("top", ($("#AddNewPlaylistBtn").offset().top+15) + "px");


        $("#AddPlstCompBtn").click(function () {
            var plst_name = "";
            plst_name = $("#AddNewPlstNameTxt").val();

            $.post("/Data/Playlists/Add/" + plst_name, function (data) {
                LightBoxOff();
                LoadMyPlaylists();
            });
        });

        $("#AddPlstCancelBtn").click(function () {
            LightBoxOff();
        });
    });
</script>