@model int
@{
    Layout = null;
}


<div id="AddNewSongDlgBox">
    <div class="add-song-dlg-hrd1">
        <div style="float:left; font-weight:600;">Add New Song</div>
        <div style="float:right; font-weight:600; cursor:pointer; margin-right:5px;" onclick="LightBoxOff();">X</div>
    </div>

    <div class="add-song-dlg-cont1">
        <span>Please enter search term</span>
        <input id="AddNewSongNameTxt" type="text" value="" />
    </div>

    <div class="plst-add-btnsCH1">
        <input type="button" id="AddSongCancelBtn" value="Cancel" />
        <input type="button" id="AddSongCompBtn" value="Search" />
    </div>

    <div id="SearchResultsCH1">
    </div>
</div>



<script>
    $(document).ready(function () {

        @if(Model <= 0) {
            <text>$(".plst-add-btnsCH1").html("Problem please retry again...");</text>
        }
        
        $("#AddNewSongDlgBox").css("left", ($("#AddNewSongBtn").offset().left-200) + "px");
        $("#AddNewSongDlgBox").css("top", ($("#AddNewSongBtn").offset().top+15) + "px");


        $("#AddSongCompBtn").click(function () {

            var song_name = "";
            song_name = $("#AddNewSongNameTxt").val();

            
            $.post("/Data/Playlists/SearchSong/" + song_name, function (data) {

                $("#ssSongItm").off();
                $("#SearchResultsCH1").empty();
                $("#SearchResultsCH1").css("height", "320px");

                
                for (var i = 0; i < data.songsList.length; i++)
                {
                    var songImgStr = "<img alt='' src='//i.ytimg.com/vi/" + data.songsList[i].youTubeId +"/mqdefault.jpg' />";
                    var songTitleStr = "<div>" + data.songsList[i].artist + "</div>";

                    $("#SearchResultsCH1").append("<div class='ssSongItm' data-songid='" + data.songsList[i].youTubeId + "' >"+ songImgStr + songTitleStr +"</div>");
                }


                $(".ssSongItm").on("click", function () {
                    $.post("/Data/Playlists/AddSong/@Model/" + $(this).attr("data-songid"), function (data) {
                        LoadPlaylistDetails(data.playlistId);
                        LightBoxOff();
                    });
                });
                
            });

        });


        $("#AddSongCancelBtn").click(function () {
            LightBoxOff();
        });

    });
    
</script>