@using Microsoft.AspNetCore.Identity
@using Playlist.Zone.Administration.Models
@using Compiler.Datatier.Users;


@*inject IUserEntity userManager *@

    <div style="float:right;">
        <a asp-area="" asp-controller="Account" asp-action="Signout">Sign Out</a>
    </div>
