@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h3>Charts</h3>
        <ul>
            <li><a href="/Music/Charts">Charts</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Playlists</h3>
        <ul>
            <li><a href="/Music/Playlists">Playlists</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Radio Stations</h3>
        <ul>
            <li>No data at this moment</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Members</h3>
        <ul>
            <li>No data at this moment</li>
        </ul>
    </div>
</div>
