@model Playlist.Zone.Dto.Music.Charts.AbstractChartDto
@{
    ViewData["Title"] = "Chart";
    Layout = null;
}

<div class="plr-ch">



    <div style="float:left; width:100%; height:10%;">
        <div class="addLike">
            Likes
        </div>
        <div class="viewsNum">
            Views
        </div>
    </div>



    <div class="pls-controller">
        @foreach (var item in Model.SongsList)
        {
            <div class="plst-Itm" data-song="@item.YouTubeId" data-id="@item.Id">
                @item.Artist - @item.Name
            </div>
        }
    </div>


</div>


<script>
    
    $(document).ready(function () {
    
        $(".plst-Itm").on("click", function () {
            OnSongClick($(this));
        });

    
        $(".addLike").on("click", function () {
            $.get("/Data/Charts/AddLike/@Model.Id", function (data) {
            });
        });


        OnSongClick($(".plst-Itm").first());
    });

</script>



@section Scripts
{
}
